
<!-- Hero-Section -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

   

    <h1>YOUR NEXT DOOR <span id="yellow">DIGITAL SOLUTION</span></h1>

    <div id="mySidenav" class="sidenav">
<a href="#" id="contactus"><i class="bx bxl-twitter ml-3"></i>Contact Us</a>
<a href="#" id="query"><i class="bx bxl-twitter ml-3"></i>Ask a Query</a>
<a href="#" id="book"><i class="bx bxl-twitter ml-3"></i>Book an Appointment</a>
<a href="#" id="notices"><i class="bx bxl-twitter ml-3"></i>Notices</a>
</div>


  </div>
</section>